
<div class="sign">
	<div class="sign-text">
		<h3>LOG IN</h3>
      <%= form_tag log_in_path do %>
        <%= text_field_tag :username, nil, placeholder: 'Username' %>
        <%= password_field_tag :password, nil, placeholder: 'Password' %>
        <%= submit_tag "Log In", class: "button" %>
      <% end %>

    <div class="tiny">
      <%= flash[:alert] if flash[:alert] %> <br><br>
       <%= link_to "SIGN UP >", new_user_path %><br>
         </div>
	</div>
</div>