

<% content_for :setting do %>
  <% @colors = [["pink","#e6c6bb"],["bisque","#e9ddcd"],["tan","#a29189"],["sandybrown","#f4a460"],["maroon","#80000"],["darkolivegreen","#556b2f" ],["brown","#6a584a"],["dark brown","#3f372a"]]%>
  <% @docks = [["smallest","smallest"],["small","small"],["default","default"],["large","large"]] %>
<!-- 
<ul class="menu">
  <li><a href="#">?</a></li>
  <li><a href="#">?</a></li>
  <li><a href="#">?</a></li>
  <li><a href="#">?</a></li>
  <li><a href="#">?</a></li>
  <li class="color-bg"></li>
</ul>-->
  <%= form_for :settings, :url => {:controller=> "settings", :action => "update", :id => session[:user_id]} , :method => :put, :remote=> true  do |f| %>
    <%= label_tag(:background_color, "Background color") %>
    <%= select_tag(:background_color, options_for_select(@colors)) %><br> 

    <%= label_tag(:dock_size, "dock size") %>
    <%= select_tag(:dock_size, options_for_select(@docks)) %><br>

    <%= submit_tag "confirm", id: "confirm_button" %>
  <% end %>

<% end %>
