<!DOCTYPE html>
<html>
<head>
  <title>WebOs </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
         <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>
<body style="background-color:<%=current_user.setting.background_color%>;">


<header>

    <span class="right">
      <h5><span id="day"></span><br><span id="hour"></span>  <span>:<span>  <span id="minute"></span> <span>:</span><span id="second">  </span></h5>
    </span>
    
    <span class="left">

      <%= flash[:notice] if flash[:notice] %>
      <%= flash[:alert] if flash[:alert] %>



      <% if current_user %>
          
     <strong>  Welcome, <%= current_user.username %>! </strong>

      <%= link_to "Log out", log_out_path, method: :delete %>?

     <% end %> 
   </span>

  </div>
</header>

<div class="container">
  <div class="frame">

    <%=yield %>

    <%= render 'words/index' %>
    <%= yield :word %>



 
  <div draggable="true" class="windows" id="word">
    <h3 id="close_word" class="x">&#10799;</h3>
    <%= render "words/new" %>
    <%=  yield :word %>
   </div>


  <div draggable="true" id="word_show">
    <h3 id="close_word_show" class="x">&#10799;</h3>
    <%= render "words/show" %>
    <%=  yield :word_show %>
   </div>
   
  <div draggable="true" id="email">
    <h3 id="close_email" class="x">&#10799;</h3>
    <%= render "emails/new" %>
    <%= yield :email %>
  </div>
  
  <div draggable="true" class="windows" id="map">
    <h3 id="close_map" class="x">&#10799;</h3>
    <%= render "maps/show" %>
    <%= yield :map %>
  </div>
 
  <div draggable="true" class="windows" id="setting">  
    <h3 id="close_setting" class="x">&#10799;</h3>
    <%= render "settings/edit" %>
    <%= yield :setting %> 
  </div>

  <div draggable="true" class="windows" id="browser">
    <h3 id="close_browser" class="x">&#10799;</h3>
    <%= render "news/index" %>
    <%= yield :news %> 
  </div>

  <div draggable="true" class="windows" id="game">
    <h3 id="close_game" class="x">&#10799;</h3>
    <%= render "games/show" %>
    <%= yield :game %>
  </div>

  <div draggable="true" class="windows" id="photo">
    <h3 id="close_photo" class="x">&#10799;</h3>
    <%= render "photos/new" %>
    <%= yield :photo %>
  </div>

  <div draggable="true" class="windows" id="calculator">
    <h3 id="close_calculator" class="x">&#10799;</h3>
    <%= render "calculators/show" %>
    <%= yield :calculator %>
  </div>

  </div> <!-- frame -->
</div> <!-- container -->

	<footer> 
  <div style="width:<%= column_width %>; height:<%= column_height %>; margin-left:<%= margin_left %>; margin-top:<%= margin_top %>" id="columns">
    <div class="column" id="column1" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>" id="word_icon" class="icons" src="https://56.media.tumblr.com/32afc448dfff5c10ad69ed336a2aefe2/tumblr_o0z78pBXUK1simze1o4_400.png"></div>
    <div class="column" id="column2" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="email_icon" class="icons" src="https://41.media.tumblr.com/4df03c8ea987d01b512acdf86bde89a0/tumblr_o0z78pBXUK1simze1o5_400.png"></div>
    <div class="column" id="column3" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="map_icon" class="icons" src="https://56.media.tumblr.com/129415e8917941574261f534172a7ba0/tumblr_o14h07dd2Q1simze1o1_400.png"></div>
    <div class="column" id="column4" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="set_icon" class="icons" src="https://56.media.tumblr.com/608c8f47d3ac5c8d61c78b6c93dd76fe/tumblr_o0z78pBXUK1simze1o8_400.png"></div>
    <div class="column" id="column5" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="browser_icon" class="icons" src="https://56.media.tumblr.com/763c4fa8540a2e53ced5eef168cf6d88/tumblr_o14h07dd2Q1simze1o2_400.png"></div>
    <div class="column" id="column6" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="game_icon" class="icons" src="https://56.media.tumblr.com/1c031b7963270e4d0d593e944ece358f/tumblr_o0z862eHq41simze1o1_400.png"></div>
    <div class="column" id="column6" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="photo_icon" class="icons" src="https://41.media.tumblr.com/95a1faba55c2ea1157ac7f6d3f5d13c9/tumblr_o0z78pBXUK1simze1o6_400.png"></div>    
     <div class="column" id="column6" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="calculator_icon" class="icons" src="https://56.media.tumblr.com/b7414eef832fbcef1544d34281fea513/tumblr_o14h07dd2Q1simze1o3_400.png"></div>
 <div class="column" id="column8" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="trash_icon" class="icons"src="https://40.media.tumblr.com/a3d200ffc4b37e9d98c1e414b4534f05/tumblr_o0z8imz3zI1simze1o1_400.png"></div>
   </div>

</div>

</body>
</html>
