<!DOCTYPE html>
<html>
<head>
  <title>WebOs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>



<header>
      <h5><span id="day"></span><br><span id="hour"></span>  <span>:<span>  <span id="minute"></span> <span>:</span><span id="second">  </span></h5>

      <%= flash[:notice] if flash[:notice] %>
      <%= flash[:alert] if flash[:alert] %>

  <% if current_user %>
      
  <p> hey <%= current_user.username %> ! </p>

  <%= link_to "Log out", log_out_path, method: :delete %>

 <% end %> 


  </div>
</header>


<div class="container">
  <div class="frame">

    <div class="col1">
      <div class="bit-10">
          <div class="box" draggable="true">1</div>
      </div>

      <div class="bit-10">
          <div class="box" draggable="true">2</div>
      </div>

      <div class="bit-10">
          <div class="box" draggable="true">3</div>
      </div>

      <div class="bit-10">
          <div class="box" draggable="true">4</div>
      </div>

      <div class="bit-10">
          <div class="box" draggable="true">5</div>
      </div>

      <div class="bit-10">
          <div class="box" draggable="true">6</div>
      </div>
  </div>

  <div class="col2">
      <div class="bit-10">
          <div class="box" draggable="true">
              <img src="http://www.clipartbest.com/cliparts/RcG/GLq/RcGGLqqGi.png">
          </div>
      </div>

      <div class="bit-10">
          <div class="box" draggable="true">7</div>
      </div>

      <div class="bit-10">
          <div class="box" draggable="true">8</div>
      </div>

      <div class="bit-10">
          <div class="box" draggable="true">9</div>
      </div>

      <div class="bit-10">
          <div class="box" draggable="true">10</div>
      </div>
  </div>
 
  <div draggable="true" id="word">
    <h3 id="close_word">X</h3>
    <%= render "words/new" %>
    <%=  yield :word %>
   </div>

  <div draggable="true" id="email">
    <h3 id="close_email">X</h3>
    <%= render "emails/new" %>
    <%= yield :email %>
  </div>
  
  <div draggable="true" id="map">
    <h3 id="close_map">X</h3>
    <%= render "maps/show" %>
    <%= yield :map %>
  </div>
 
  <div draggable="true" id="dragme">  
    <h3 id="close_setting">X</h3>
    <%= render "settings/edit" %>
    <%= yield :setting %> 
  </div>

  <div draggable="true" id="browser">
    <h3 id="close_browser">X</h3>
    <%= render "browsers/show" %>
    <%= yield :browser %> 
  </div>

  <div draggable="true" id="game">
    <h3 id="close_game">X</h3>
    <%= render "games/show" %>
    <%= yield :game %>
  </div>

  <div draggable="true" id="photo">
    <h3 id="close_photo">X</h3>
    <%= render "photos/new" %>
    <%= yield :photo %>
  </div>

  <div draggable="true" id="calculator">
    <h3 id="close_calculator">X</h3>
    <%= render "calculators/show" %>
    <%= yield :calculator %>
  </div>

  </div> <!-- frame -->
</div> <!-- container -->

	<footer> 
<div id="columns">
    <div class="column" id="column1" draggable="true"><img id="word_icon" src="http://icons.iconarchive.com/icons/hopstarter/puck-1/256/Microsoft-Office-Word-icon.png"></div>
    <div class="column" id="column2" draggable="true"><img id="email_icon" src="http://icons.iconarchive.com/icons/babasse/old-school/256/mail-icon.png"></div>
    <div class="column" id="column3" draggable="true"><img id="map_icon" src="http://icons.iconarchive.com/icons/designcontest/ecommerce-business/256/maps-icon.png"></div>
    <div class="column" id="column4" draggable="true"><img id="set_icon" src="http://icons.iconarchive.com/icons/artua/mac/512/Setting-icon.png"></div>
    <div class="column" id="column5" draggable="true"><img id="browser_icon" src="http://icons.iconarchive.com/icons/reclusekc/yoyo/512/360-Chrome-icon.png"></div>
    <div class="column" id="column6" draggable="true"><img id="game_icon" src="http://icons.iconarchive.com/icons/uriy1966/steel-system/512/Games-icon.png"></div>
    <div class="column" id="column6" draggable="true"><img id="photo_icon" src="http://icons.iconarchive.com/icons/robsonbillponte/happy-holidays/512/Pictures-icon.png"></div>    
     <div class="column" id="column6" draggable="true"><img id="calulator_icon" src="http://www.fsb-wv.com/Mobile/_images/calculator.png"></div>
 <div class="column" id="column8" draggable="true"><img src="http://icons.iconarchive.com/icons/treetog/junior/256/trash-empty-icon.png"></div>
   </div>

</div>

</body>
</html>
