<!DOCTYPE html>
<html>
<head>
  <title>WebOs </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:<%=current_user.setting.background_color %>;">


<header>

    <span class="right">
      <h5><span id="day"></span><br><span id="hour"></span>  <span>:<span>  <span id="minute"></span> <span>:</span><span id="second">  </span></h5>
    </span>
    <span class="left">

      <%= flash[:notice] if flash[:notice] %>
      <%= flash[:alert] if flash[:alert] %>



      <% if current_user %>
          
       Welcome, <%= current_user.username %>! 

      <%= link_to "Log out", log_out_path, method: :delete %>?

     <% end %> 
   </span>

  </div>
</header>

<div class="container">
  <div class="frame">

    <%=yield %>

    <%= render 'words/index' %>
    <%= yield :word %>

 
  <div draggable="true" class="windows" id="word">
    <h3 id="close_word" class="x">&#10799;</h3>
    <%= render "words/new" %>
    <%=  yield :word %>
   </div>


  <div draggable="true" id="word_show">
    <h3 id="close_word_show" class="x">&#10799;</h3>
    <%= render "words/show" %>
    <%=  yield :word_show %>
   </div>
   
  <div draggable="true" id="email">
    <h3 id="close_email" class="x">&#10799;</h3>
    <%= render "emails/new" %>
    <%= yield :email %>
  </div>
  
  <div draggable="true" class="windows" id="map">
    <h3 id="close_map" class="x">&#10799;</h3>
    <%= render "maps/show" %>
    <%= yield :map %>
  </div>
 
  <div draggable="true" class="windows" id="dragme">  
    <h3 id="close_setting" class="x">&#10799;</h3>
    <%= render "settings/edit" %>
    <%= yield :setting %> 
  </div>

  <div draggable="true" class="windows" id="browser">
    <h3 id="close_browser" class="x">&#10799;</h3>
    <%= render "browsers/show" %>
    <%= yield :browser %> 
  </div>

  <div draggable="true" class="windows" id="game">
    <h3 id="close_game" class="x">&#10799;</h3>
    <%= render "games/show" %>
    <%= yield :game %>
  </div>

  <div draggable="true" class="windows" id="photo">
    <h3 id="close_photo" class="x">&#10799;</h3>
    <%= render "photos/new" %>
    <%= yield :photo %>
  </div>

  <div draggable="true" class="windows" id="calculator">
    <h3 id="close_calculator" class="x">&#10799;</h3>
    <%= render "calculators/show" %>
    <%= yield :calculator %>
  </div>

  </div> <!-- frame -->
</div> <!-- container -->

	<footer> 
  <div style="width:<%= column_width %>; height:<%= column_height %>; margin-left:<%= margin_left %>; margin-top:<%= margin_top %>" id="columns">
  <div class="column" id="column1" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>" id="word_icon" class="icons" src="http://icons.iconarchive.com/icons/hopstarter/puck-1/256/Microsoft-Office-Word-icon.png"></div>
    <div class="column" id="column2" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="email_icon" class="icons" src="http://icons.iconarchive.com/icons/babasse/old-school/256/mail-icon.png"></div>
    <div class="column" id="column3" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="map_icon" class="icons" src="http://icons.iconarchive.com/icons/designcontest/ecommerce-business/256/maps-icon.png"></div>
    <div class="column" id="column4" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="set_icon" class="icons" src="http://icons.iconarchive.com/icons/artua/mac/512/Setting-icon.png"></div>
    <div class="column" id="column5" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="browser_icon" class="icons" src="http://icons.iconarchive.com/icons/reclusekc/yoyo/512/360-Chrome-icon.png"></div>
    <div class="column" id="column6" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="game_icon" class="icons" src="http://icons.iconarchive.com/icons/uriy1966/steel-system/512/Games-icon.png"></div>
    <div class="column" id="column6" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="photo_icon" class="icons" src="http://icons.iconarchive.com/icons/robsonbillponte/happy-holidays/512/Pictures-icon.png"></div>    
     <div class="column" id="column6" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="calulator_icon" class="icons" src="http://www.fsb-wv.com/Mobile/_images/calculator.png"></div>
 <div class="column" id="column8" draggable="true"><img style="width:<%= icon_width %>; height:<%= icon_height %>"id="trash_icon" class="icons"src="http://icons.iconarchive.com/icons/treetog/junior/256/trash-empty-icon.png"></div>
   </div>

</div>

</body>
</html>
